.apple-bkg {
  z-index: 000;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0%;
  background: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.apple-content {
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10% 15%;
  gap: 1%;
  padding: 5%;
  height: 40%;
  width: 50%;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.apple-bkg > img {
  z-index: 000;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0%;
  object-fit: cover;
  filter: blur(0px);
}
.ab-spline-left {
  z-index: 999;
  margin-left: 10%;
}
.ab-spline-right {
  z-index: 999;
  margin-right: 10%;
}
.spline-a-left {
  z-index: 999;
  margin-right: 5%;
  cursor: pointer;
  width: 100%;
  height: auto;
}
.spline-a-right {
  z-index: 999;
  margin-left: 5%;
  cursor: pointer;
  width: 100%;
  height: auto;
}
.apple-content img:nth-child(1) {
  max-width: 100%;
  max-height: 100%;
  transform: scale(1.5);
  margin-bottom: 5%;
}
.apple-content img:nth-child(2) {
  max-width: 100%;
  max-height: 100%;
}
