.home-component {
  height: 100vh;
  width: 100vw;
  background-color: black;
  margin: 0rem;
  overflow: hidden;
}
.image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-sizing: content-box;
}
#image-track > .it-image {
  width: 50vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 50% center;
}
