.home-component {
  height: 100vh;
  width: 100vw;
  background: #ffafbd; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffc3a0,
    #ffafbd
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffc3a0,
    #ffafbd
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin: 0rem;
  overflow: hidden;
}
.home-bkg {
  z-index: 000;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  scale: 0.4;
  object-fit: contain;
  rotate: -35deg;
}
.image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 200%);
  box-sizing: content-box;
  z-index: 888;
  transition: 3s ease;
}
.it-active {
  transform: translate(-50%, -50%);
}
.it-container {
  width: 50vmin;
  height: 56vmin;
  overflow: hidden;
}
.it-container > .it-image {
  width: 50vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 50% center;
  transition: 3.5s ease;
  margin-top: 0;
  transform: translate(0, -11%);
}
.it-container:hover > .it-image {
  filter: blur(14px);
}
.it-c-link {
  z-index: 999;
  color: rgba(255, 255, 255, 0);
  text-decoration: none;
  font-size: 3rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  transition: 4s ease;
  display: block;
}
.it-container:hover > .it-c-link {
  color: rgba(255, 255, 255, 1);
}
footer {
  z-index: 500;
}
footer > ul {
  color: black;
  position: relative;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 999;
  display: inline-block;
  text-decoration: none;
}
ul > li {
  display: inline-block;
  margin-left: 10px;
}
.hc-footer-list li a {
  color: black;
  display: inline-block;

  list-style: none;
  text-decoration: none;
}
@media screen and (max-width: 541px) {
  .it-container {
    width: 60vmin;
    height: 110vmin;
    overflow: hidden;
  }
  .it-container > .it-image {
    width: 60vmin;
    height: 110vmin;
    object-fit: cover;
    object-position: 50% center;
    transition: 3.5s ease;
    margin-top: 0;
    transform: translate(0, -11%);
  }
}
