.instagram-component {
  z-index: 000;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
}
.instagram-component > img {
  z-index: 000;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  object-fit: cover;
  overflow: visible;
}
.instagram-component > img:nth-child(2) {
  z-index: 000;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  object-fit: cover;
  overflow: visible;
}
.ic-content {
  z-index: 999;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.ic-follow {
  position: relative;
  top: 0%;
  left: 50%;
  transform: translateX(-61%);
  z-index: inherit;
  overflow: visible;
  scale: 0.8;
}
.is-frame {
  align-self: center;
  position: absolute;
  z-index: 888;
  top: 0%;
  left: 0%;
  bottom: 0%;
  object-fit: cover;
  cursor: pointer;
  width: 100%;
  height: auto;
}
@media screen and (max-width: 541px) {
  .ic-content {
    z-index: 999;
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: visible;
  }
  .is-frame {
    align-self: center;
    position: absolute;
    z-index: 888;
    top: 0%;
    left: 0%;
    bottom: 0%;
    cursor: pointer;
    overflow: visible;
  }
  .instagram-component > img:nth-child(2) {
    z-index: 000;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    object-fit: cover;
    scale: 0.7;
    overflow: visible;
  }
  .ic-follow {
    display: none;
  }
}
@media (orientation: landscape) and (max-height: 541px) {
  .ic-follow {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .ic-content {
    z-index: 999;
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: visible;
  }
  .ic-content > .is-frame {
    align-self: center;
    position: absolute;
    z-index: 888;
    top: 0%;
    left: 0%;
    bottom: 0%;
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: visible;
  }
  .instagram-component > img:nth-child(2) {
    z-index: 000;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    object-fit: cover;
    scale: 0.7;
    overflow: visible;
  }
}
