.instagram-component {
  overflow: hidden;
}
.insta-spline {
  z-index: 000;
  position: absolute;
  top: 0;
  left: 0%;
  width: auto;
  height: auto;
  object-fit: cover;
  overflow: hidden;
}
.ic-follow {
  position: absolute;
  top: 10%;
  right: 0%;
  rotate: 25deg;
  transform: scale(0.8);
}
.is-frame {
  align-self: center;
  z-index: 999;
  position: absolute;
  top: 0%;
  right: 0%;
  background-color: transparent;
  overflow: hidden;
}
.instagram-component > img {
  z-index: 000;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0%;
  object-fit: cover;
  filter: blur(0px);
}
.ic-content {
  z-index: 999;
  overflow: hidden;
  display: flex;
}

.ic-content > img {
  z-index: 999;
}
