.tiktok-component > img {
  z-index: 000;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0%;
  left: 0%;
  object-fit: cover;
  overflow: hidden;
}
.tc-content {
  width: 100vw;
  height: 100vh;
  z-index: 999;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.tc-content > a {
  z-index: 888;
  position: absolute;
  width: 20vw;
  height: auto;
  bottom: 0%;
  left: 50%;
  transition: 0.3s ease;
  overflow: visible;
}
.tc-content > a > img {
  position: relative;
  transform: translate(-50%, 10%);
  transition: 3s ease;
  height: auto;
  width: 50vw;
}

.tc-hearts-hover {
  z-index: 500;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0%;
  left: 0%;
  object-fit: cover;
  overflow: hidden;
  transition: 1.5s ease;
  transform: translateY(-100vh);
}

.tc-mockup:hover ~ .tc-hearts-hover {
  transform: translateY(0vh);
}

@media screen and (max-width: 800px) {
  .tc-content > a > img {
    position: relative;
    transform: translate(-50%, 10%);
    transition: 3s ease;
    height: auto;
    width: 100vw;
  }
}
@media screen and (max-width: 420px) {
  .tc-content > a > img {
    position: relative;
    transform: translate(-50%, 5%);
    transition: 3s ease;
    height: auto;
    width: 101vw;
  }
}
@media (orientation: landscape) {
  .tc-content > a > img {
    position: relative;
    transform: translate(-50%, 5%);
    transition: 3s ease;
    height: 100vh;
    width: auto;
  }
  .tc-c-text {
    display: none;
  }
}
@media (orientation: portrait) and (min-width: 800px) {
  .tc-content > a > img {
    position: relative;
    transform: translate(-50%, 5%);
    transition: 3s ease;
    height: 70vh;
    width: auto;
  }
  .tc-c-text {
    display: none;
  }
}
