.tiktok-component {
  z-index: 000;
  position: relative;
  top: 0px;
  left: 0px;
  object-fit: cover;
  overflow-y: hidden;
}
.tiktok-component > img {
  z-index: 000;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0%;
  left: 0%;
  object-fit: cover;
  overflow: hidden;
}
.tc-content {
  width: 100vw;
  height: 100vh;
  z-index: 999;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.tc-content > a {
  z-index: 999;
  position: absolute;
  width: 0vw;
  height: auto;
  bottom: -12%;
  left: 25%;
  transition: 0.3s ease;
  overflow: visible;
}
.tc-hearts-hover {
  z-index: 500;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0%;
  left: 0%;
  object-fit: cover;
  overflow: hidden;
  transition: 1.5s ease;
  transform: translateY(-100vh);
}

.tc-mockup:hover ~ .tc-hearts-hover {
  transform: translateY(0vh);
}
.tc-mockup:hover ~ .tc-c-text {
  transform: translateY(0vh);
}
.tc-mockup > img {
  transform: translateX(0vw);
  transition: 2s ease;
}
.tc-mockup:hover > img {
  transform: translateX(20vw);
}

.tc-c-phone {
  position: absolute;
  left: 35%;
  z-index: 700;
  width: auto;
  transform: scale(1);
  overflow: hidden;
}
.tc-c-text {
  z-index: 999;
  color: white;
  transform: translateY(100vh);
  transition: 2.25s ease;
  margin-left: 10%;
}
.tc-c-text > img {
  border-radius: 15%;
}
