.youtube-component {
  z-index: 000;
  position: relative;
  top: 0px;
  left: 0px;
  object-fit: cover;
}
.yt-bkg-vid {
  z-index: 000;
  width: 100vw;
  height: 100vh;
  top: 0%;
  left: 0%;
  object-fit: cover;
  overflow: hidden;
  transition: 5s ease;
  filter: blur(0px);
}
.yc-content {
  z-index: 999;
}
.yt-logo {
  z-index: 999;
  position: absolute;
  top: 0%;
  left: 0%;
  scale: 0.6;
  transition: 3s ease;
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  transform: translateY(-200vh);
}
.yt-logo.active {
  transform: translateY(0vh);
}

.yt-bkg-vid.active {
  filter: blur(8px);
}
.yc-content:hover > img {
  scale: 0.65;
}
@media screen and (max-width: 541px) {
  .yt-bkg-vid {
    z-index: 000;
    width: 100vw;
    height: 100vh;
    top: 0%;
    left: 0%;
    object-fit: cover;
    overflow: hidden;
    transition: 5s ease;
    filter: blur(0px);
  }
}
