* {
  overflow-y: "scroll";
  overflow-x: hidden;
  scroll-behavior: none;
}
.App {
  z-index: 000;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  object-fit: cover;
}
